Source: nautilus-compare
Section: gnome
Priority: extra
Maintainer: Guido Tabbernuk <boamaod@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.1.0
Homepage: https://launchpad.net/nautilus-compare

Package: nautilus-compare
Architecture: any
Depends: nautilus (>= 3), python-nautilus (>= 1.0), python-xdg
Recommends: meld
Description: Context menu extension for Nautilus file manager
 Simple context menu file comparison extension for Nautilus 3.0 and above,
 inspired by the discontinued diff-ext extension. It uses Meld to do the
 actual comparison and provides "Compare", "Compare Later", "Compare to
 ~/foo/bar" and "Three-Way Compare to ~/foo/bar" in Nautilus context menu.
 You can change default Meld to whatever you like from
 ~/.config/nautilus-compare.conf.
