
[Desktop Entry]
Name=Nautilus Compare Extension Preferences
Type=Application
GenericName=Preferences for Nautilus Compare Extension
Icon=gtk-preferences
Categories=Settings;
X-Ubuntu-Gettext-Domain=nautilus-compare
Exec=python /usr/share/nautilus-compare/nautilus-compare-setup.py
